body {
    background-color: red;
}

.modal {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 70px auto;
    padding: 30px;
    max-width: 800px;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .div_modal {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 700px;
    padding: 30px;
    background-color: white
  }